body{

    color: white;  
    background-size: cover;
    text-align: center;
    background-image: url("https://media.giphy.com/media/iicDrNGWxHmDrIni6j/giphy.gif");
    font-family: 'Orbitron', sans-serif;
    color:#82a5ca;


}
.btn{
    font-family: 'Orbitron', sans-serif;
    padding: 6px 12px;
    background-color: #fff;
    border:none;
    color:#82a5ca;
    font-weight: bold;
}
.exp{
    border-bottom: 5px solid #fff;
}
